In [3]:
# import sqllite package
import sqlite3

In [7]:
connection = sqlite3.connect("classroomDB.db")
connection.close()

In [11]:
connection = sqlite3.connect("classroomDB.db")

cursor = connection.cursor()

create_table = """
                    create table classroom (
                    student_id INTEGER primary KEY, 
                    name VARCHAR(20),
                    gender CHAR(1),
                    physics_marks INTEGR,
                    chemistry_marks INTEGR,
                    mathmatics_marks INTEGR
                    )
                """

cursor.execute(create_table)
connection.commit()
connection.close()

OperationalError: table classroom already exists

In [26]:
#sample data

classroom_data = [
    (1, "Raj", "M", 70, 84, 92),
    (2, "Poonam", "F", 87, 69, 93),
    (3, "Nik", "M", 65, 83, 90),
    (4, "Rahul", "F", 83, 76, 89)
]

connection = sqlite3.connect("classroomDB.db")

cursor = connection.cursor()

for student in classroom_data:
    insert_statement = """ insert init classroom 
                        (stundent_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                        values
                        ({0}, {1}, {2}, {3}, {4}, {5});""".format(student[0], student[1], student[2],
                                                                  student[3], student[4], student[5])

connection.commit()
connection.close()

In [28]:
connection = sqlite3.connect("classroomDB.db")

cursor = connection.cursor()

query = """ select * from classroom;"""

cursor.execute(query)

results = cursor.fetchall()

for row in results:
    print(row)

connection.close()

In [30]:
! conda install -y -q pymysql

Solving environment: ...working... done

# All requested packages already installed.

In [32]:
import pymysql

In [33]:
%ls

'01 Extracting data from relational database.ipynb'   classroomDB.db